.headerWrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6)
}

.headerLeft {
    flex: 1 1 auto;
    width: 30%;
}

.headerMid {
    display: flex;
    flex: 10 10 auto;
    width: 40%;
    justify-content: center;
}

.headerRight {
    display: flex;
    flex: 1 1 auto;
    width: 30%;
    justify-content: flex-end;
}